.main-left-menu {
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 0px;

}
.left-header{
    height: 75px;
    width: 75px;
    margin-left: 15px;
    margin-right: 25px;
    background-color: #181818;
    margin-bottom: 0px;
padding-bottom: 0px;
transition: transform .2s; /* Animation */


}
.left-header:hover{
    transform: scale(1.2);
}
.logo {
    background-color: #181818;

}
.main-menu {
    height:50%;
    width: 90px;
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 0px;

}
.home{
padding-left: 30px;
padding-top: 20px;
padding-bottom: 20px;
transition: transform .2s; /* Animation */
border-radius:20%;


}
.explore{
  padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    transition: transform .2s; /* Animation */
    border-radius:20%;

}
.podcast{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    transition: transform .2s; /* Animation */
    border-radius:20%;

}
.library{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    transition: transform .2s; /* Animation */
    border-radius:20%;

}
.radio{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    transition: transform .2s; /* Animation */
    border-radius:20%;

}
.home:hover{
    transform: scale(1.2);
    background-color:#414141;

}
.explore:hover{
    transform: scale(1.2);
    background-color:#414141;

}
.podcast:hover{
    transform: scale(1.2);
    background-color:#414141;

}
.library:hover{
    transform: scale(1.2);
    background-color:#414141;

}
.radio:hover{
    transform: scale(1.2);
    background-color:#414141;


}
body{
    background-color:#181818!important;
    display: flex;
    flex-wrap: wrap;
    overflow:scroll;
    overflow-y: scroll;
    overflow: hidden;
    overflow-x:hidden;
    

}
.content{
    overflow:scroll;
    height: 100%;
    width: 1500px;
    position: fixed;
   margin-top: 90px;
    left: 40px;
    background-color: #181818;
    padding-top: 5px;
    margin-left: 10px;
    display: grid;
    overflow-y: scroll;
    flex-wrap: wrap;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  ​
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  ​
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  ​
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  ​
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .main {
      position:absolute;
   
   margin-top: 190px;
   margin-left:750px;

  }
  .left-header:hover{

  }


  * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main-right-menu{
    background-color:#2e2e2e;
    height:700px;
    width:330px;
    position:absolute;
    margin-left: 1570px;
    margin-top:90px;
    margin-right:0px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll; /* Show scrollbars */
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.textiner-3{
    height:40px;
    width:330px;
    border-radius
font-size:50px;
}
.text-3{
    font-size:1.25rem !important;
    font-family:"Gill Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top:30px;
 color:white;
    padding-right:120px;
}
.text-3-icon{
    height:30px;
    width:30px;
font-size:50px;
margin-left:270px;
margin-top:-45px;
z-index:3;
transition: transform .2s;

}
.text-3-icon:hover{
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 

}

.hkh{
    z-index:5;
}
.artist-last-released{
    padding-top:30px;
    padding-right:120px;
    background-color:#2e2e2e;
    height:520px;
    width:270px;
margin-left:25px;
overflow-y: scroll;
overflow-x: hidden; 



border-radius:10px;

}
::-webkit-scrollbar {
    display: none;
    background: transparent;  /* Optional: just make scrollbar invisible */

}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.pos-artist-released-1{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    margin-top:-30px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-2{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-3{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-4{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}

.pos-artist-released-6{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-7{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-8{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-9{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-10{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-11{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}
.pos-artist-released-12{
    background-color:#2e2e2e;
    height:70px;
    width:270px;
    padding-bottom:5px;
    z-index:4;

}


.img-1{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}
.img-2{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}
.img-3{
    border-radius:100%;
    height:60px;
    width:60px;
    transition: transform .2s;

    margin-top:4px;
}
.img-4{
    border-radius:100%;
    height:60px;
    width:60px;
    transition: transform .2s;

    margin-top:4px;
}

.img-5{
    border-radius:100%;
    height:60px;
    width:60px;
    transition: transform .2s;

    margin-top:4px;
}

.img-6{
    border-radius:100%;
    height:60px;
    width:60px;
    transition: transform .2s;

    margin-top:4px;
}

.img-7{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}

.img-8{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}

.img-9{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}

.img-10{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}

.img-11{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}
.img-12{
    border-radius:100%;
    height:60px;
    width:60px;
    margin-top:4px;
    transition: transform .2s;

}



.artist-name-released1{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}

.artist-name-released2{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}

.artist-name-released3{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}

.artist-name-released4{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}
.artist-name-released5{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}
.artist-name-released6{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}
.artist-name-released7{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}
.artist-name-released8{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}

.artist-name-released9{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}
.artist-name-released10{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}
.artist-name-released11{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}
.artist-name-released12{
    font-family: "Source Sans Pro", sans-serif;
    cursor:pointer !important;
    font-weight: 700;
    margin-top:-50px;
    padding-left:70px;
 color:white;
 z-index:8;
}



.main-page-div{
    display: grid;
    flex-wrap: wrap;
}
.img-1:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-2:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-3:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-4:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-5:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-6:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-7:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-8:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-9:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-10:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.img-11:hover{ 
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02); 
}
.cardw1{
    background-color:#3FBDF4;
    height:430px;
    width:330px;
    position:absolute;
    margin-left: 70px;
    margin-right:0px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    transition: transform .2s;
    overflow:hidden;
    animation: leaves 4s ease-in-out infinite alternate;


}
.cardw2{
    background-color:#3FF4D0;
    height:430px;
    width:330px;
    position:absolute;
    margin-left: 420px;
    margin-right:0px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    transition: transform .2s;
    overflow:hidden;
    animation: leaves 2s ease-in-out infinite alternate;


}
.cardw3{
    background-color:#3FF476;
    height:430px;
    width:330px;
    position:absolute;
    margin-left: 770px;
    margin-right:0px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    transition: transform .2s;
    overflow:hidden;
    animation: leaves 5s ease-in-out infinite alternate;


}
.cardw4{
    background-color:#F4D03F;
    height:430px;
    width:330px;
    position:absolute;
    margin-left: 1120px;
    margin-right:0px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    transition: transform .2s;
    overflow:hidden;
    animation: leaves 3s ease-in-out infinite alternate;

}

@keyframes leaves {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.03);
    }
}



.cardw1:hover{
  border-style: solid;
  border-width: 5px;
  border-color: #2f2f2f;
  opacity: 0.75;


}
.f65{


}
.cardw2:hover{
; 

  border-style: solid;
  border-width: 5px;
  border-color: #2f2f2f;
  opacity: 0.75;

}

.cardw3:hover{

  border-style: solid;
  border-width: 5px;
  border-color: #2f2f2f; 
  opacity: 0.75;

}
.cardw4:hover{

  border-style: solid;
  border-width: 5px;
  border-color: #2f2f2f; 
  opacity: 0.75;

}
.flex-box-card{
    display: flex;
    flex-wrap: wrap;
    order: 5;
    flex-wrap: nowrap | wrap | wrap-reverse;
}
.lolo{
    margin-left:60px;
}
.lala{
    margin-top:40px;
}

.alboms-promos-1{
    height:165px;
    width:165px;
    background-color:#181818;
 position:absolute;
    margin-left:1120px;
    margin-top:450px;
    border-radius:5px;
    border-top-left-radius: 25px;
  }
.kha-11{
    height:165px;
    width:165px;
    position:absolute;
    border-radius:5px;
    border-top-left-radius: 25px;

}

.alboms-promos-2{
    height:165px;
    width:165px;
    background-color:#181818;
 position:absolute;
    margin-left:1290px;
    margin-top:450px;
    border-radius:5px;
    border-top-right-radius: 25px;

}
.kha2{
    height:165px;
    width:165px;
    background-color:#181818;
 position:absolute;
 border-radius:5px;
 border-top-right-radius: 25px;


}

.alboms-promos-3{
    height:165px;
    width:165px;
    background-color:#181818;
 position:absolute;
    margin-left:1120px;
    margin-top:620px;
    border-radius:5px;
    z-index:2;
    border-bottom-left-radius: 25px;

}
.kha3{
    height:165px;
    width:165px;
    border-radius:5px;
    z-index:2;
    border-bottom-left-radius: 25px;
}
.alboms-promos-4{
    height:165px;
    width:165px;
    background-color:#181818;
 position:absolute;
    margin-left:1290px;
    margin-top:620px;
    border-radius:5px;
    z-index:2;
    border-bottom-right-radius: 25px;

}
.kha4{
    height:165px;
    width:165px;
    border-radius:5px;
    z-index:2;
    border-bottom-right-radius: 25px;

}

.kha-11:hover{
opacity:0.75


}
.kha2:hover{
    opacity:0.75
    
    }
.kha3:hover{
        opacity:0.75
        
        }
.kha4:hover{
            opacity:0.75
            
            }
       
            

.player{
height: 130px !important;
width: 90% !important;
 background-color: #2e2e2e !important;
 position: fixed !important;
 z-index: 313 !important;
 display: flex !important;
 bottom: 0px !important;
 left: 90px !important;
 right: 5px !important;
border-top-left-radius: 25px;
border-top-right-radius: 25px;

}
.controlers{
    height: 90px;
    width: 30%;
     background-color: #181818;
     position: fixed;
     z-index: 320;
     display: flex;
     bottom: 0px;
     left: 35%;
     right: 40%;
   
    margin-bottom: 20px;
    border-radius: 10px;
}
.artist_artplayer{
    height: 90px;
    width: 90px;
     position: fixed;
     z-index: 320;
     display: flex;
     bottom: 0px;
     left: 7%;
     right: 50%;
   
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #181818;
}
.player_image{
    height: 90px;
    width: 90px;
     position: fixed;
     z-index: 320;
     display: flex;
     bottom: 0px;
     left: 7%;
     right: 50%;
   
    margin-bottom: 20px;
    border-radius: 10px;
}
.player_image:hover{
    opacity: 0.8;
}

.artist_player_name{
    position: fixed;
    z-index: 320;
    display: flex;
    bottom: 65px;
    left: 12.6%;
    right: 50%;
    color: #f1f1f1;
    font-size: 1.3rem !important;
}
.song_player{
    position: fixed;
    z-index: 350;
    display: flex;
    bottom: 45px;
    left: 12.6%;
    right: 50%;
    color: #c4c2c2;
    font-size: 1rem;
}
.player_credit_artist{
    color: #bebebe;

}
.player_credit_artist:hover{
    color: #ffffff !important;
    text-shadow: #181818;
    text-decoration: underline;


}